{% load static %}
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static './css/bootstrap.min.css' %}">
</head>
<body>
    <div class="container">
        <h1 class="mt-5 mb-5">Ассортимент</h1>
        <div class="row">
            {% for sneaker in sneakers %}
            <div class="col-md-3">
                <div class="card" style="height: 100%">
                  <img src="{{ sneaker.image }}" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">{{ sneaker.name }}</h5>
                    <p class="card-text">
                        {{ sneaker.description }}
                    </p>
                      <h5 class="badge text-bg-primary">Цена: {{ sneaker.price }}</h5>
                      <div>
                          <a href="#" class="btn btn-primary">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bag" viewBox="0 0 16 16">
                          <path d="M8 1a2.5 2.5 0 0 1 2.5 2.5V4h-5v-.5A2.5 2.5 0 0 1 8 1m3.5 3v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4zM2 5h12v9a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1z"/>
                        </svg>
                    </a>
                      </div>
                  </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</body>
</html>